

/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap') */

.App {
 font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  text-align: center;
  background: url("https://t3.ftcdn.net/jpg/03/89/94/34/360_F_389943415_0IMXIfCIo4OUzwtsIhxCGeKEdRrhvNym.jpg");
  min-height: 100vh;
  display: flex;
  background-position: center;
}

